{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true
    },
    "rules": {
        "brace-style": [
            "error",
            "stroustrup"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-var": [
            "off"
        ],
        "one-var": [
            "off"
        ]
    }
}