{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true
    },
    "rules": {
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "no-console": ["warn", { "allow": ["info", "error"] }],
        "brace-style": ["error", "stroustrup"],
        "comma-dangle": ["error", "never"]
    }
}