.action {
  width: 60px;
  height: 60px;
  border: solid 2px black;
  border-radius: 10px;
  margin: 2%;
}

.machine {
  border: solid 2px black;
  width: 60px;
  height: 60px;
  margin: 2%;
}


.machinesBox {
  height: 50%;
  background-color: white;
  margin: 10%;
  border: solid 5px black;
}

.actionsBox {
  height: 50%;
  background-color: white;
  margin: 10%;
  border: solid 5px black;
}

.toolboxMenu {
  background-color: black;
  width: 15%;
  align-content: center;
}

.toolboxTitle {
  color: orange;
}