.tool-box-container {
    display: grid;
    grid-area: tool-box-container;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "machines-panel"
        "actions-panel";
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #666666;
}

.actions-panel { grid-area: actions-panel; }
.machines-panel { grid-area: machines-panel; }

.actions-panel, .machines-panel {
    display: grid; 
    justify-items: center;
    align-content: flex-start;
}

.actions-box, .machines-box {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
}

img.action, img.toolboxElement {
    width: 50px;
    height: 50px;
    margin: 1px;
    padding: 2px;
    border-radius: 10px;
    border: solid 2px transparent;
}

img.toolboxElement.selected {
    border: dashed 2px orange;
}

.action:hover, img.toolboxElement:hover {
    border: dashed 2px orange;
}
