.users {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #343232;
}

.gamesPanel {
  margin-top: 15px;
}

.gamesPanel h4 {
  margin-top: 15px;
  color: orange;
}

.createButton {
  margin-top: 10px;
}

.users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

.users td {
  color: white;
}

.tableHeader {
  font-weight: bold;
  background-color: #222121;
}

.gamesPanel {
  background-color: #504E4E;
  border: 10px transparent;
  border-radius: 10px;
}
